<%- include('../partials/_html-head.ejs', {title: 'Applications'}) %>
<%- include('../partials/_nav-bar.ejs') %>
<div class="container">
  <h1 class="title">Your Apps</h1>
  <a href="/users/<%=user._id%>/applications/new">Add an App</a>
</div>
<div class="container">
  <ul>
    <% applications.forEach((application)=>{ %>
    <li>
      <a href="/users/<%= user._id %>/applications/<%= application._id %>">
        <%= application.title %> @ <%= application.company %>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
</body>

</html>